<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <% include ./partials/_header %>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <style>
    body {
      background: url(https://i.imgur.com/sohWhy9.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  </style>

  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px">
  <ul>
    <% if (!username) { %>
      <h5>YOU MUST LOG IN OR REGISTER TO ACCESS URLS!</h5>
    <% } else { %>
      <% for (address in urls) { %>
        <% if (urls[address].userID === username.id) { %>
          <li><b><%= address %></b>: <%= urls[address].longURL %> owned by <%= urls[address].userID %></li>
          <a href="/urls/<%= address %>">EDIT</a>
          <form method="POST" action="/urls/<%= address %>/delete"><button type="submit">DELETE ME T_T</button></form>
        <% } %>
      <% } %>
    <% } %>
  </ul>
  <a href="/urls/new">a link for shortening URL's</a>
</body>
</html>